@{
    ViewData["Title"] = "Book List";
}

<!--Bring in book view model-->
@model BooksViewModel

<div class="text-center">
    <h1 class="display-3">Book List</h1>
</div>

<!--Loop through books and display each one-->
@foreach (Book b in Model.Books)
{
    <h3 class="text-muted">@b.Title</h3>
    <ul class="list-group">
        <li class="list-group-item">Author: @b.Author</li>
        <li class="list-group-item">Publisher: @b.Publisher</li>
        <li class="list-group-item">ISBN: @b.Isbn</li>
        <li class="list-group-item">Classification: @b.Classification</li>
        <li class="list-group-item">Category: @b.Category</li>
        <li class="list-group-item">Page Count: @b.PageCount</li>
        <li class="list-group-item">Price: $@b.Price</li>
    </ul>
    <br />
}

<p>Pages</p>
<!--Dynamically builds a tags using page-model tag helper-->
<div page-model="@Model.PageInfo" page-action="Index"></div>
